@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.registration-page {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: #f5f7fa;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.registration-card {
  width: 90%;
  background: white;
  border: 1px solid #dde2eb;
  margin: 30px 0;
  padding: 2rem ;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.registration-card h2 {
  text-align: center;
  color: #003366;
  margin-bottom: 1.5rem;
}

.registration-card form {
  display: flex;
  flex-direction: column;
}

.registration-card label {
  margin-bottom: 1rem;
  font-weight: 500;
  color: #333;
}

.registration-card input,
.registration-card select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #c1c9d2;
  border-radius: 4px;
  font-size: 1rem;
}

.registration-card button {
  margin-top: 1.5rem;
  background-color: #00509d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 1.05rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.registration-card button:hover {
  background-color: #003f7d;
}

.success-message {
  text-align: center;
  padding: 1.5rem;
  background: #e8f5e9;
  border: 1px solid #c8e6c9;
  border-radius: 4px;
  color: #2e7d32;
  font-weight: 600;
}

.rp-table{
  padding: 20px 20px;
  text-align: center;
}
.rp-table h3{
  padding: 20px 0;
}
.rp-table table{
  background-color: #fffaee;
  width: 100%;
  border-collapse: collapse;
}
.rp-table table td,th{
  padding: 20px;
  border: 2px solid black;
}
.rp-table th{
  background-color: #fbc02d;
}

@media (max-width: 800px) {
  .rp-table table{
    font-size: 10pt;
  }
  .rp-table{
    padding: 10px;
  }
  .rp-table table td, th{
    padding: 15px;
  }
  
}
@media (max-width: 700px) {
  .rp-table table{
    font-size: 9pt;
  }
  
}
@media (max-width: 650px) {
  .rp-table table{
    font-size: 8pt;
  }
  
}
@media (max-width: 600px) {
  .rp-table table{
    font-size: 7pt;
  }
  .rp-table{
    padding: 10px 8px;
  }
  .rp-table table td, th{
    padding: 12px;
  }
  
}
@media (max-width: 550px) {
  .rp-table table{
    font-size: 6pt;
  }
  .rp-table{
    padding: 0px 6px;
  }
  .rp-table table td, th{
    padding: 10px;
  }
  .rp-table h3{
    font-size: 12pt;
    padding: 10px 0px;
  }
  .registration-card h2{
    font-size: 14pt;
  }
  .registration-card form{
    font-size: 10pt;
  }
  .registration-card button{
    font-size: 10pt;
  }
  
}
@media (max-width: 375px) {
  .rp-table table{
    font-size: 5pt;
  }
  .rp-table{
    padding: 0px 6px;
  }
  .rp-table table td, th{
    padding: 8px;
  }
  .rp-table h3{
    font-size: 10pt;
    padding: 10px 0px;
  }
  .registration-card form input{
    width: 95%;
  }
}